
*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav{
    font-size:2rem;
    background:#0082e6;
height:80px;
width:100%;
position: relative;
}
label.logo{
color:white;
font-size: 35px;
line-height: 80px;
padding:0 100px;
font-weight:bold;

}
nav ul{
    float:right;
    margin-right:20px;

}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size:17px;
    text-transform:uppercase;
border-radius:3px;
padding:7px 13px;


}
a.active,a:hover{
    background:#1b9bff;
    transition: .5s;

}

.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right:40px;
    cursor:pointer;
    display:none;

}
#check{
    display:none;

}
@media (max-width:950px){

    label.logo{
        font-size:30px;
        padding-left:50px;

    }
    nav ul li a{
        font-size:16px;
    }
}
@media (max-width:850px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width:100%;
    height:100vh;
    background: #2c3e50;
    top:80px;
    left:-100%;
    text-align: center;
    transition:all .5s;

  }
  nav ul li{
    display:block;
    line-height: 30px;
    margin: 50px 0;
  }
  nav ul li a{
    font-size: 20px;

  }
  a:hover,a.active{
    background:none;
    color:#0082e6;

  }
  #check:checked~ul{
    left:0;

  }

}
@media (max-width:640px){
    #braice{
        max-width: fit-content;
        margin:0 auto;

    }
    #braice a{
        max-width:fit-content;
    }
    footer{
        max-width: fit-content;
        max-height: fit-content;
    }
    .checkbtn{
        display:block;
      }
      ul{
        position: fixed;
        width:100%;
        height:100vh;
        background: #2c3e50;
        top:80px;
        left:-100%;
        text-align: center;
        transition:all .5s;

      }
      nav ul li{
        display:block;
        line-height: 30px;
        margin: 50px 0;
      }
      nav ul li a{
        font-size: 20px;

      }
      a:hover,a.active{
        background:none;
        color:#0082e6;

      }
      #check:checked~ul{
        left:0;

      }


}
@media (max-width:740px){
    #braice{
        max-width: fit-content;
        margin:0 auto;

    }
    #braice a{
        max-width:fit-content;
    }
    footer{
        max-width: fit-content;
        max-height: fit-content;
    }

}
@media (max-width:600px){
    #braice{
        max-width: fit-content;
        margin:0 auto;

    }
    #braice a{
        max-width:fit-content;
    }
    footer{
        max-width: fit-content;
        max-height: fit-content;
    }
}
@media (max-width:540px){
    #braice{
        max-width: fit-content;
        margin:0 auto;

    }
    #braice a{
        max-width:fit-content;
    }
    footer{
        max-width: fit-content;
        max-height: fit-content;
    }
    .yoo{
        max-width: fit-content;
    }
}

/*home  css code by dickson juma*/
body{
    display:flex;

}
.bar{
    position:sticky;
    top:0;
    bottom:0;
    left:0;
    width:240px;
    height: 100vh;
    padding:0 0.7rem;
    color:white;
    overflow:hidden;
    transition:all 0.5s;
    background:rgb(113,99,255);
}
.sidebar:hover{
    width:240px;
    transition:0.5s;
}
.logo{
    height:80px;
    padding:16px;

}
.menu{
    height:90%;
    position: relative;
list-style:none;
padding:0;

}
.menu li{
    padding:1rem;
    margin:8px 0;
    border-radius:8px;
    transition:all 0.5s ease-out;
}
.menu li:hover,
.active{
    background: #e0e0e058;
}
.menu a{
    color:white;
    font-size:16px;
    text-decoration: none;
    display:flex;
    align-items: center;
    gap:1.5rem;

}
.menu a span{
    overflow:hidden;

}
.logout{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;

}
.main-content{
    position: relative;
    background: white;
    width:100%;
    padding:1rem;
}
.header img{
width:50px;
height:50px;
cursor:pointer;
border-radius: 50%;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1 rem;
}
.header-title{
    color:rgb(113,99,255)
}
.profile{
    display:flex;
    align-items: center;
    gap:1;

}
.search{
    background: white;
    border-radius:15px;
    color:rgb(113,99,255);
    display: flex;
    gap:5px;
     padding:4px 12px;

}
.search input{
    background: transparent;
    padding: 10px;

}
